.mainBg {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainHeading {
  color: #f8fafc;
  font-size: 26px;
  font-family: "Roboto";
}
.imageContainer {
  display: flex;
}
.image {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .mainHeading {
    font-size: 35px;
  }
}

@media screen and (min-width: 768px) {
  .image {
    width: 250px;
  }
} ;
